body{
  margin: 0px;
  padding: 0px;
}
@-o-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}
.aboutbutton button{
  font-family: monospace;
  width: 150;
  height:  50 px;
  border: none;
  outline: 3px solid white;
  border-radius: 4px;
  color: white;
  box-shadow: inset 0 0 0 0 white;
  background-color: transparent;
  transition: ease-out 0.3s;
  font-size: 2rem;
  position: absolute;
  top: 6%;
  left: 50%;
}
.aboutbutton button:hover{
  box-shadow: inset 170px 0 0 0 white;
  cursor: pointer;
  color: black;
}
.Projects button:hover{
  box-shadow: inset 170px 0 0 0 white;
  cursor: pointer;
  color: black;
}
.Skills button:hover{
  box-shadow: inset 170px 0 0 0 white;
  cursor: pointer;
  color: black;
}
.Contact button:hover{
  box-shadow: inset 190px 0 0 0 white;
  cursor: pointer;
  color: black;
}
.Projects button{
  font-family: monospace;
  width: 150;
  height:  50 px;
  border: none;
  box-shadow: inset 0 0 0 0 white;
  outline: 3px solid white;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: ease-out 0.3s;
  font-size: 2rem;
  position: absolute;
  top: 6%;
  left: 63%;
}

.Skills button{
  font-family: monospace;
  width: 150;
  height:  50 px;
  box-shadow: inset 0 0 0 0 white;
  border: none;
  outline: 3px solid white;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: ease-out 0.3s;
  font-size: 2rem;
  position: absolute;
  top: 6%;
  left: 75%;
}
.Contact button{
  font-family: monospace;
  width: 150;
  height:  50 px;
  box-shadow: inset 0 0 0 0 white;
  border: none;
  outline: 3px solid white;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: ease-out 0.3s;
  font-size: 2rem;
  position: absolute;
  top: 6%;
  left: 85%;
}
.rotatinglogo img{
    position: absolute;
    left: 22%;
    top: 39%;
}
.rotatinglogo img:hover{
  animation: bubbly .3s;
}
.popupcat img{
  position: absolute;
  top: -3%;
  left: 90%;
  transform: rotate(180deg);
  animation: leftandright 10s linear infinite;
}
.banner img{
  width: 100%;
}
.Secondbanner img{
  position: absolute;
  top:832px;
  width:100%;
}

p14{
  color: white;
  position: absolute;
  transform: rotate(270deg);
  left: 93%;
  bottom: 300px;
  white-space: nowrap;
  animation: updown 1s infinite;
  font-size: 200%;
  font-family: monospace;
}


p13{
  color: white;
  position: absolute;
  left: 15%;
  top: 54%;
  word-spacing: 10px;
  letter-spacing: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
p15{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 20%;
  top: 22%;
}
p16{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 22%;
  top: 22%;
}
p17{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 25.5%;
  top: 22%;
}
p18{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 29.5%;
  top: 22%;
}
p19{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 36%;
  top: 22%;
}
p1{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 10%;
  top: 22%;
}
p2{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 16.5%;
  top: 22%;
}
p3{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 39.5%;
  top: 22%;
}
p4{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 11%;
  top: 37%;
}
p5{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 13%;
  top: 37%;
}
p6{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 15%;
  top: 37%;
}

p8{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 28%;
  top: 37%;
}
p9{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 31%;
  top: 37%;
}
p10{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 35%;
  top: 37%;
}
p11{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 38.8%;
  top: 37%;
}
p12{
  color: white;
  font-size: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 42.7%;
  top: 37%;
}

p1:hover{
  animation: bubbly .3s;
}
p2:hover{
  animation: bubbly .3s;
}
p3:hover{
  animation: bubbly .3s;
}
p4:hover{
  animation: bubbly .3s;
}
p5:hover{
  animation: bubbly .3s;
}
p6:hover{
  animation: bubbly .3s;
}

p8:hover{
  animation: bubbly .3s;
}
p9:hover{
  animation: bubbly .3s;
}
p10:hover{
  animation: bubbly .3s;
}
p11:hover{
  animation: bubbly .3s;
}
p12:hover{
  animation: bubbly .3s;
}
p15:hover{
  animation: bubbly .3s;
}
p16:hover{
  animation: bubbly .3s;
}
p17:hover{
  animation: bubbly .3s;
}
p18:hover{
  animation: bubbly .3s;
}
p19:hover{
  animation: bubbly .3s;
}

@keyframes bubbly {
  0%{
    color: rgb(233, 200, 12);
    transform: scaleX(1);
  }
  40%{
    transform: scaleX(150%);
  }
  70%{
    transform: scaleY(150%);
  }
  100%{
    transform:scaleX(1),scaleY(1);
  }
}

@keyframes updown {
  0%{
    bottom: 250px;
  }
  50%{
    bottom: 400px;
  }
  100%{
    bottom: 250px;
  }
}

@keyframes leftandright{
  0%{
    left: 0;
  }
  50%{
    left: 43%;
  }
  100%{
    left: 0%
  }
}